@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.title {
  display: block;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
.my-custom-scrollbar {
  position: relative;
  width: 800px;
  height: 330px;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
.table-wrapper-scroll-y {
  display: block;
}
