@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.addEditForm {
  display: block;
  position: relative;
  width: 800px;
}

h4 {
  font-family: "Press Start 2P", cursive;
}

.button-style {
  position: absolute;
  width: 300px;
  font-family: "Press Start 2P", cursive;
  right: 0%;
}
