<app-table-component
  [todos]="todos"
  (itemToEdit)="onEdit($event)"
></app-table-component>
<form>
  <div class="addEditForm mx-auto mt-3">
    <div *ngIf="!editMode; else editForm">
      <h4>Add a New TODO</h4>
      <div class="mb-1">
        <label for="task-id" class="form-label">ID</label>
        <input type="text" class="form-control" id="task-id" #id />
      </div>
      <div class="mb-1">
        <label for="task-description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="task-description"
          #description
        />
      </div>
      <button
        type="button"
        class="btn btn-outline-success btn-lg button-style mt-3"
        (click)="getNewTaskData(id.value, description.value)"
      >
        Add
      </button>
    </div>
    <ng-template #editForm>
      <h4>Modify the Todo</h4>
      <div class="mb-1">
        <label for="task-id" class="form-label">Todo ID</label>
        <input
          type="text"
          class="form-control"
          id="task-id"
          [value]="editFormInputData.id"
          disabled
          #idEdit
        />
      </div>
      <div class="mb-1">
        <label for="task-description" class="form-label"
          >Modify the Description</label
        >
        <input
          type="text"
          class="form-control"
          id="task-description"
          [value]="editFormInputData.title"
          #descriptionEdit
        />
      </div>
      <button
        type="button"
        class="btn btn-outline-info btn-lg button-style mt-3"
        (click)="editSelectedTodo(idEdit.value, descriptionEdit.value)"
      >
        Edit
      </button>
    </ng-template>
  </div>
</form>
